# dependencies
/node_modules

# production
/.next
/out

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.production
.env.development
.env.test
.env
# jest
/coverage

# secrets
invoicecraft-db-8ffab0842984.json
just-search-scrapper-e257ad504ec9.json
app/api/old-service-account.json
app/api/service-account.json
